repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.0
    hooks:
      - id: ruff
        types_or: [python, pyi]
        args: [--fix]
      - id: ruff-format

  - repo: local
    hooks:
      - id: prettier
        name: Run Prettier
        entry: bash -c "cd app && npm run prettier"
        language: system
