services:
  frontend:
    build:
      context: ./app
      dockerfile: Dockerfile.dev
    container_name: app
    volumes:
      - ./app:/app
      - ./app/node_modules:/app/node_modules
    env_file:
      - ./app/.env
    ports:
      - "5173:5173"
    command: sh -c "npm install && npm run dev"

  api:
    build:
      context: ./api
      dockerfile: Dockerfile
    ports:
      - "8081:8080"
    environment:
      PORT: "8080"
      CLICKHOUSE_HOST: "clickhouse:9000"
      CLICKHOUSE_DATABASE: "default"
      CLICKHOUSE_USERNAME: "default"
      CLICKHOUSE_PASSWORD: "your_strong_password"
      CLICKHOUSE_TLS: "false"
      CORS_ALLOWED_ORIGINS: "http://localhost:5173"
      ENV: "development"
    depends_on:
      - clickhouse
    restart: unless-stopped

  elt:
    build:
      context: ./elt
      dockerfile: Dockerfile
    container_name: elt
    volumes:
      - ./elt:/elt
      - ./data:/data
      - ./tmp:/tmp
    env_file:
      - ./elt/.env

  clickhouse:
    image: clickhouse/clickhouse-server:latest
    ports:
      - "8123:8123"
      - "9000:9000"
    volumes:
      - clickhouse_data:/var/lib/clickhouse
      - clickhouse_log:/var/log/clickhouse-server
    environment:
      CLICKHOUSE_NAME: usa-school-data
      CLICKHOUSE_USER: default
      CLICKHOUSE_PASSWORD: your_strong_password
      CLICKHOUSE_DB: usa-school-data
    restart: unless-stopped
    mem_limit: 12g
    memswap_limit: 12g

volumes:
  clickhouse_data:
  clickhouse_log:
