services:
  frontend:
    build:
      context: ./app
      dockerfile: Dockerfile.dev
    container_name: app
    volumes:
      - ./app:/app
      - ./app/node_modules:/app/node_modules
    env_file:
      - ./app/.env
    ports:
      - "5173:5173"
    command: sh -c "npm install && npm run dev"

  elt:
    build:
      context: ./elt
      dockerfile: Dockerfile
    container_name: elt
    volumes:
      - ./elt:/elt
      - ./data:/data
      - ./tmp:/tmp
    env_file:
      - ./elt/.env
